abody {
background-color: #000;
color: #ccc;
font-family:monospace;
font-weight:600;
font-size: 14px;
scrollbar-base-color:#ffffff;
scrollbar-arrow-color:#000000;
scrollbar-DarkShadow-Color:#800000;
}

ahtml { 
scrollbar-base-color:#ffffff;
scrollbar-arrow-color:#000000;
scrollbar-DarkShadow-Color:#800000;
}

p {
color: #ccc;
font-weight: 600;
}

h3 {
font-size: 16px;
text-align: center;
}

h5 {
color: #fff;
text-align: left;
font-size: 11px;
margin-bottom: -1px;
}

a {
font-size: 11px;
font-weight: 600;
}

a:link {
color: #ff0000;
}

a:visited {
color: #ff0000;
}

a:hover {
color: #ffffff;
}

table {
border: 1px solid;
border-color: #ccc;
background-color: #363737;
color: #00007F;
}

td {
border-color: #ccc;
font-weight: 900;
line-height: 1.5em;
}

th {
color: #fff;
font-weight: bold;
line-height: 1.6em;
}

.colg1 {
width: 12%;
}

.colg2 {
width: 35%;
}

.colg3 {
width: 35%;
}

.thead {
}

 .tcolhd {
}

.btable {
width: 100%;
padding-bottom: 10px;
background-color: #ecf1ef;
border: 1px solid #009393;
}

.thd {
color: #009393;
text-align: center;
line-height: 1.8em;
font-size: 11px;
}

/*changes #rank color */
.td1 {
background-color: #20b2aa;
color: yellow;
}

.td2 {
float: right;
padding-top: 10px;
}

.bhead {
}

.bcolhd {
 background-color: #20b2aa;
 }

.tstats {
}

.browone {
text-align: left;
padding-left: 6px;
}

.browtwo {
}

/* more stats link */
.statlink {
float: right;
padding: 3px;
font-size: 9px;
}

.statleft {
float: left;
padding: 3px;
font-size: 9px;
}

.linkback {
font-size: x-small;
float: right;
}

.tft {
}
